@model UnitModel

<form class="col-8 offset-2 bg-light rounded h-100 p-4" asp-action="Add" method=post>
	<div>
		<h4 class="mb-5">Add new Unit</h4>
		<div class="form-floating mb-3">
			<select asp-for="@Model.TypeId" class="form-control" asp-items="@ViewBag.UnitTypes">
				<option disabled selected>...</option>
			</select>
			<label for="floatingSelect">Select unit type</label>
			<span asp-validation-for="@Model.TypeId" class="text-danger"></span>
		</div>
		<div class="form-floating mb-3">
			<input asp-for="@Model.Floor" class="form-control" placeholder="Floor">
			<label asp-for="@Model.Floor" class="form-label"></label>
			<span asp-validation-for="@Model.Floor" class="text-danger"></span>
		</div>
		<div class="form-floating mb-3">
			<input asp-for="@Model.Number" class="form-control" placeholder="Number">
			<label asp-for="@Model.Number" class="form-label"></label>
			<span asp-validation-for="@Model.Number" class="text-danger"></span>
		</div><div class="form-floating mb-3">
			<input asp-for="@Model.TotalArea" class="form-control" placeholder="Total Area">
			<label asp-for="@Model.TotalArea" class="form-label"></label>
			<span asp-validation-for="@Model.TotalArea" class="text-danger"></span>
		</div>
		<div class="form-floating mb-3">
			<input asp-for="@Model.CommonParts" class="form-control" placeholder="Common Parts">
			<label asp-for="@Model.CommonParts" class="form-label"></label>
			<span asp-validation-for="@Model.CommonParts" class="text-danger"></span>
		</div>
	</div>
	<button class="btn btn-success rounded-pill m-2" type="submit">Add</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}