@inject IHttpContextAccessor HttpContextAccessor

@model List<UnitViewModel>

@{
	var houseOrgName = HttpContextAccessor?.HttpContext?.Session.GetString(ManagedHouseOrgName) ?? "none";
	var houseOrgId = HttpContextAccessor?.HttpContext?.Session.GetInt32(ManagedHouseOrgId) ?? 0;
}

@if (!Model.Any())
{
	<form class="row justify-content-center">
		<h2 class="text-center">You don't have any units added in @houseOrgName, yet!</h2>
		<h3 class="text-center">Do you want to add one?</h3>
		<button class="btn btn-lg btn-success col-6 col-md-2 text-center mt-4" asp-controller="Units" asp-action="Add" asp-route-houseOrgId="@houseOrgId"><i class="fa-solid fa-circle-plus me-2"></i>Add Unit</button>
	</form>
}
else
{
	<form class="row row-cols-12 justify-content-center">
		<section class="card border-dark p-0 mb-5 mx-3 col-lg-10">
			<h4 class="card-header p-2 text-center">Units in @houseOrgName</h4>
			<div class="card-body bg-light justify-content-center">
				<button class="btn btn-sml btn-success mb-3 mx-3" asp-controller="Units" asp-action="Add" asp-route-houseOrgId="@houseOrgId">Add Unit</button>
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th class="text-center align-middle p-1" style="width: 5%" scope="col">#</th>
								<th class="text-center align-middle p-1" style="width: 5%" scope="col">Number</th>
								<th class="text-center align-middle p-1" style="width: 5%" scope="col">Floor</th>
								<th class="text-center align-middle p-1" style="width: 5%" scope="col">Type</th>
								<th class="text-center align-middle p-1" style="width: 5%" scope="col">Details</th>
								<th class="text-center align-middle p-1" style="width: 5%" scope="col">Edit</th>
							</tr>
						</thead>
						<tbody class="align-middle col-10">
							@for (int i = 0; i < Model.Count(); i++)
							{
								<tr>
									<th class="text-center" scope="row">@(i + 1)</th>
									<td class="bg-white">@Model[i].Number</td>
									<td class="bg-white">@Model[i].Floor</td>
									<td class="bg-white">@Model[i].Type</td>
									<td class="text-center bg-white">
										<button type="submit" class="btn btn-outline-info rounded-bottom-circle p-0" style="width: 25px; height: 25px" asp-controller="Units" asp-action="Details" asp-route-id="@Model[i].Id"><i class="fa-solid fa-info"></i></button>
									</td>
									<td class="text-center bg-white">
										<button class="btn btn-outline-warning rounded-bottom-circle p-0" style="width: 25px; height: 25px" asp-controller="Units" asp-action="Edit" asp-route-id="@Model[i].Id"><i class="fa-solid fa-pencil"></i></button>
									</td>
								</tr>
							}
							@for (int i = Model.Count(); i < 10; i++)
							{
								<tr>
									<th class="text-center" scope="row">@(i + 1)</th>
									<td class="bg-white"></td>
									<td class="bg-white"></td>
									<td class="bg-white"></td>
									<td class="bg-white"></td>
									<td class="bg-white"></td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</form>

}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
