@inject IMemoryCache cache

@model List<UnitViewModel>

@{
	ViewBag.HouseOrgName = cache.Get(ManagedHouseOrgCacheName);
	ViewBag.HouseOrgId = cache.Get(ManagedHouseOrgCacheId);
}

@if (!Model.Any())
{
	<form class="row justify-content-center">
		<h2 class="text-center">You don't have any units added in @ViewBag.HouseOrgName, yet!</h2>
		<h3 class="text-center">Do you want to add one?</h3>
		<button class="btn btn-lg btn-success col-6 col-md-2 text-center mt-4" asp-controller="Units" asp-action="Add" asp-route-houseOrgId="@ViewBag.HouseOrgId"><i class="fa-solid fa-circle-plus me-2"></i>Add Unit</button>
	</form>
}
else
{
	<form class="col-12">
		<div class="bg-light rounded p-4">
			<h4 class="mb-3">Units in @ViewBag.HouseOrgName</h4>
			<button class="btn btn-sml btn-success mb-3 mx-3" asp-controller="Units" asp-action="Add" asp-route-houseOrgId="@ViewBag.HouseOrgId">Add Unit</button>
			<div class="table-responsive col-10">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="text-center col-1" scope="col">#</th>
							<th class="text-center col-2" scope="col">Number</th>
							<th class="text-center col-2" scope="col">Floor</th>
							<th class="text-center col-3" scope="col">Type</th>
							<th class="text-center col-1" scope="col">Details</th>
							<th class="text-center col-1" scope="col">Edit</th>
						</tr>
					</thead>
					<tbody class="align-middle col-10">
						@for (int i = 0; i < Model.Count(); i++)
						{
							<tr>
								<th class="text-center" scope="row">@(i + 1)</th>
								<td class="bg-white">@Model[i].Number</td>
								<td class="bg-white">@Model[i].Floor</td>
								<td class="bg-white">@Model[i].Type</td>
								<td class="text-center bg-white">
									<button type="submit" class="btn btn-outline-info rounded-bottom-circle" asp-controller="Units" asp-action="Details" asp-route-id="@Model[i].Id"><i class="fa-solid fa-info" style="width: 20px; height: 20px"></i></button>
								</td>
								<td class="text-center bg-white">
									<button class="btn btn-outline-warning rounded-bottom-circle" asp-controller="Units" asp-action="Edit" asp-route-id="@Model[i].Id"><i class="fa-solid fa-pencil" style="width: 20px; height: 20px"></i></button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</form>

}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}