@inject IHttpContextAccessor HttpContextAccessor

@model UnitDetailViewModel

@{
	var houseOrgId = HttpContextAccessor?.HttpContext?.Session.GetInt32(HouseOrgId);
	var houseOrgName = HttpContextAccessor?.HttpContext?.Session.GetString(HouseOrgName);
	var name = $"Unit {Model.Number}";
}


<h4 class="text-center mb-4">@houseOrgName - @name</h4>
<hr />
<div class="row justify-content-around">
	<div class="col-12 col-lg-4 justify-content-center mb-5">
			<partial name="_DetailsUnitPartial" model="@Model" />
			<partial name="_CurrentBalancePartial" model="@Model.Balance" />
	</div>
	<div class="col-12 col-lg-6 justify-content-around align-items-center mb-5">
		<div>
			<form>
				<button type="submit" class="btn btn-sml btn-success mb-3" asp-area="" asp-controller="Occupants" asp-action="Add" asp-route-id="@Model.Id"><i class="fa-solid fa-user-plus me-2"></i>Add Occupant</button>
			</form>
			<partial name="~/Views/Occupants/_ActiveOccupantsPartial.cshtml" model="@Model.ActiveOccupants" />
		</div>
		<div>
			<partial name="~/Views/Occupants/_InactiveOccupantsPartial.cshtml" model="@Model.InactiveOccupants" />
		</div>
	</div>
</div>
<form class="bg-light d-flex flex-wrap justify-content-center p-4">
	<button asp-area="" asp-controller="Units" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning d-fluid m-1"><i class="fa-solid fa-pencil me-2"></i>Edit</button>
	<button type="button" class="btn btn-info d-fluid m-1" onclick="location.href='@Url.Action("All","Units", new {id = houseOrgId})';"><i class="fa-regular fa-circle-left me-2"></i>Back</button>
</form>