@model UnitFormModel

@{
	ViewBag.UnitTypes = Html.GetEnumSelectList(typeof(UnitType));
}

<form class="col-8 offset-2 bg-light rounded h-100 p-4" asp-action="Edit" method=post>
	<div>
		<h4 class="mb-5">Edit Unit</h4>
		<div class="form-floating mb-3">
			<input asp-for="@Model.Number" class="form-control" placeholder="@Model.Number">
			<label asp-for="@Model.Number" class="form-label"></label>
			<span asp-validation-for="@Model.Number" class="text-danger"></span>
		</div>
		<div class="form-floating mb-3">
			<input asp-for="@Model.Floor" class="form-control" placeholder="@Model.Floor">
			<label asp-for="@Model.Floor" class="form-label"></label>
			<span asp-validation-for="@Model.Floor" class="text-danger"></span>
		</div>
		<div class="form-floating mb-3">
			<select asp-for="@Model.Type" class="form-select" id="floatingSelect" asp-items="@ViewBag.UnitTypes">
				<option selected value="@Model.Type"></option>
			</select>
			<label asp-for="@Model.Type">Select Unit Type</label>
		</div>
	</div>
	<div class="form-floating mb-3">
		<input asp-for="@Model.TotalArea" class="form-control" placeholder="@Model.TotalArea">
		<label asp-for="@Model.TotalArea" class="form-label"></label>
		<span asp-validation-for="@Model.TotalArea" class="text-danger"></span>
	</div>
	<div class="form-floating mb-3">
		<input asp-for="@Model.CommonParts" class="form-control" placeholder="@Model.CommonParts">
		<label asp-for="@Model.CommonParts" class="form-label"></label>
		<span asp-validation-for="@Model.CommonParts" class="text-danger"></span>
	</div>
	<button class="btn btn-success rounded-pill m-2" type="submit" asp-route-id="@Model.Id">Save Changes</button>
	<button class="btn btn-success rounded-pill m-2" type="button" value="Cancel" onclick="location.href='@Url.Action("All","Units")';">Cancel</button>
</form>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}