@inject IHttpContextAccessor HttpContextAccessor

@model ActiveManagerViewModel

@{
	var houseOrgId = HttpContextAccessor?.HttpContext?.Session.GetInt32(HouseOrgId) ?? 0;
}

<div class="card border-2 p-0 col-12 mb-3">
	<h4 class="card-header p-2 text-center">@Model.Position</h4>
	<div class="card-body p-4 text-center">
		<h5 class="text-center">@Model.Name</h5>
		<div>
			<div class="mb-2">
				<i class="fa fa-phone me-3"></i>@Model.PhoneNumber
			</div>
			<p class="text-start mb-0">Mandate progress</p>
			<div class="progress bg-white border">
				<div class="progress-bar progress-bar-striped bg-success" role="progressbar"
					 style="width: @Model.Progress%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
				</div>
			</div>
			<div class="row row-cols-2 align-content-around mb-3">
				<div class="text-start">@Model.StartDate</div>
				<div class="text-end">@Model.EndDate</div>
			</div>
		</div>
		<form class="row row-cols-2 justify-content-around">
			<button class="btn btn-warning col-auto" asp-area="" asp-controller="Managers" asp-action="Edit" asp-route-id="@Model.Id" formmethod=get><i class="fa-solid fa-pencil me-2"></i>Edit</button>
		</form>
	</div>
</div>
