@model OccupantDetailViewModel

<div class="row align-items-center mb-3">
	<label asp-for="@Model.FullName" class="col-lg-4 text-start text-lg-end fw-bold"></label>
	<label class="col-lg-8">@Model.FullName</label>
</div>
<div class="row align-items-center mb-3">
	<label asp-for="@Model.PhoneNumber" class="col-lg-4 text-start text-lg-end fw-bold"></label>
	<label class="col-lg-8">@Model.PhoneNumber</label>
</div>
<div class="row align-items-center mb-3">
	<label asp-for="@Model.BirthDate" class="col-lg-4 text-start text-lg-end fw-bold"></label>
	<label class="col-lg-8">@Model.BirthDate</label>
</div>
<div class="row align-items-center mb-3">
	<label asp-for="@Model.IsOwner" class="col-lg-4 text-start text-lg-end fw-bold"></label>
	<label class="col-lg-8">@Model.IsOwner</label>
</div>
<div class="row align-items-center mb-3">
	<label asp-for="@Model.OccupationDate" class="col-lg-4 text-start text-lg-end fw-bold"></label>
	<label class="col-lg-8">@Model.OccupationDate</label>
</div>