@model List<InactiveManagementViewModel>

<div class="bg-light rounded p-4">
	<div class="table-responsive col-11">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th class="text-center col-1" scope="col">#</th>
					<th class="text-center col-4" scope="col">Name</th>
					<th class="text-center col-2" scope="col">Start Date</th>
					<th class="text-center col-2" scope="col">End Date</th>
					<th class="text-center col-2" scope="col">Ended On Date</th>
				</tr>
			</thead>
			<tbody class="align-middle">
				@for (int i = 0; i < Model.Count(); i++)
				{
					<tr>
						<th class="text-center" scope="row">@(i + 1)</th>
						<td class="bg-white">@Model[i].Name</td>
						<td class="bg-white text-center">@Model[i].StartDate</td>
						<td class="bg-white text-center">@Model[i].EndDate</td>
						<td class="bg-white text-center">@Model[i].TerminationDate</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>