@inject IMemoryCache cache

@model ActiveManagementFormModel

<form class="col-12">
	<div class="bg-light rounded h-100 p-4">
		<h4 class="text-center mb-4">Management</h4>
		<hr />
		<div id="current-management" class="row row-cols-1 row-cols-md-2 justify-content-center">
			@if (ViewBag.ActivePresident == null)
			{
				<partial name="_ActiveManagerFormPartial" model="@new PresidentFormModel()" />
			}
			else
			{
				if (Model != null)
				{
					<partial name="_ActiveManagerFormPartial" model="@Model" />
				}

				<partial name="_ActiveManagerViewPartial" model="@ViewBag.ActivePresident" />
			}

			@if (ViewBag.ActiveCashier == null)
			{
				<partial name="_ActiveManagerFormPartial" model="@new CashierFormModel()" />
			}
			else
			{
				<partial name="_ActiveManagerViewPartial" model="@ViewBag.ActiveCashier" />
			}
		</div>
		<div id="previous-managements" class="row row-cols-1 row-cols-md-2 justify-content-center">
			<div>
				<h5>Previous presidents</h5>
				<partial name="_InactiveManagerViewPartial" model="@ViewBag.InactivePresidents" />
			</div>
			<div>
				<h5>Previous cashiers</h5>
				<partial name="_InactiveManagerViewPartial" model="@ViewBag.InactiveCashiers" />
			</div>
		</div>
	</div>
</form>