@inject IHttpContextAccessor HttpContextAccessor

@{
	var houseOrgName = HttpContextAccessor?.HttpContext?.Session.GetString(ManagedHouseOrgName);
	var activePresident = ViewBag.ActivePresident;
	var activeCashier = ViewBag.ActiveCashier;
}

<form class="col-12">
	<div class="bg-light rounded">
		<h4 class="text-center mb-4">@houseOrgName - Management</h4>
		<hr />
		<div id="current-management" class="row row-cols-1 row-cols-md-2 justify-content-center">
			<div class="row justify-content-center mb-5">
				@if (activePresident == null)
				{
					<h4 class="text-danger text-center fw-bold">Having a President is mandatory!</h4>
					<button asp-controller="Management" asp-action="Add" asp-route-position="@ManagerPosition.President"
							class="btn btn-success align-self-center col-6 col-xl-3 rounded m-2"
							type="submit">
						<i class="fa-solid fa-user-tie me-2"></i>Add President
					</button>
				}
				else
				{
					<partial name="_ActiveManagerViewPartial" model="@activePresident" />
				}
			</div>

			<div class="row justify-content-center mb-5">
				@if (activeCashier == null)
				{
					<h4 class="text-danger text-center fw-bold">Having a Cashier is mandatory!</h4>
					<button asp-controller="Management" asp-action="Add" asp-route-position="@ManagerPosition.Cashier"
							class="btn btn-success align-self-center col-6 col-xl-3 rounded m-2"
							type="submit">
						<i class="fa-solid fa-cash-register me-2"></i>Add Cashier
					</button>
				}
				else
				{
					<partial name="_ActiveManagerViewPartial" model="@activeCashier" />
				}
			</div>
		</div>
		<div id="previous-managements" class="row row-cols-1 row-cols-md-2 justify-content-between">
			<div class="row justify-content-center">
				<partial name="_InactiveManagerViewPartial" model="@ViewBag.InactivePresidents" />
			</div>
			<div class="row justify-content-center">
				<partial name="_InactiveManagerViewPartial" model="@ViewBag.InactiveCashiers" />
			</div>
		</div>

	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}