@inject IHttpContextAccessor HttpContextAccessor

@model UnitDetailViewModel

@{
	var houseOrgId = HttpContextAccessor?.HttpContext?.Session.GetInt32(HouseOrgId);
	var houseOrgName = HttpContextAccessor?.HttpContext?.Session.GetString(HouseOrgName);
	var name = $"Unit {Model.Number}";
	var currentBalanceString = Model.Balance;
}


<h4 class="text-center mb-4">@houseOrgName - @name</h4>
<hr />
<div class="row row-cols-1 row-cols-lg-2 justify-content-center align-items-top mb-5">
	<div class="col-12 col-lg-4 justify-content-center mb-5">
		<partial name="~/Views/Units/_detailsUnitPartial.cshtml" model="@Model" />
		<partial name="_CurrentBalancePartial" model="@Model.Balance" />
	</div>

	<div class="col-12 col-lg-6 justify-content-around align-items-center mb-5">
		<partial name="~/Views/Occupants/_ActiveOccupantsPartial.cshtml" model="@Model.ActiveOccupants" />
	</div>
</div>
<form class="row justify-content-center">
	<button class="btn btn-info col-auto m-1" asp-area="User" asp-controller="Units" asp-action="All" asp-route-id="@houseOrgId"><i class="fa-regular fa-circle-left me-2"></i>Back</button>
</form>
