@inject IHttpContextAccessor HttpContextAccessor

@model HouseOrganizationsPageViewModel

@{
	var houseOrgId = HttpContextAccessor?.HttpContext?.Session.GetInt32(HouseOrgId) ?? default;
	var collection = Model.Collection;
}

@if (!collection.Any())
{
	<h3 class="text-center">You are not part of any House organization!</h3>
	<h4 class="text-center mb-3">Please, go back to home page and select another action!</h4>
	<form class="row justify-content-center">
		<button asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success col-auto"><i class="fa-regular fa-circle-left me-2"></i>Go Home</button>
	</form>
}
else
{
	<form class="row row-cols-12 justify-content-center">
		<h4 class="text-center mb-4">House Organizations joined as an Occupant</h4>
		<hr />
		<section class="card border-2 p-0 mb-5 mx-3 col-lg-10">
			<div class="card-body justify-content-center">
				<table class="table table-bordered table-hover">
					<thead>
						<tr class="text-center border-2 align-middle bg-light">
							<th style="width: 5%" scope="col">#</th>
							<th style="width: 25%" scope="col">Name</th>
							<th style="width: 40%" scope="col">Address</th>
							<th style="width: 15%" scope="col">Town</th>
							<th style="width: 5%" scope="col">View</th>
						</tr>
					</thead>
					<tbody class="align-middle">
						@for (int i = 0; i < collection.Count(); i++)
						{
							<tr class="text-center border-2 bg-white">
								<td class="bg-light p-1" scope="row">@(i + 1)</td>
								<td class="p-1">@collection[i].Name</td>
								<td class="p-1">@collection[i].Address</td>
								<td class="p-1">@collection[i].Town</td>
								@if (collection[i].Id == houseOrgId)
								{
									<td class="p-1">
										<button class="btn btn-success rounded-bottom-circle p-0" style="width: 25px; height: 25px"><i class="fa-solid fa-check"></i></button>
									</td>
								}
								else
								{
									<td class="p-1">
										<button class="btn btn-outline-secondary rounded-bottom-circle p-0" style="width: 25px; height: 25px" asp-area="User" asp-controller="HouseOrganizations" asp-action="Select" asp-route-id="@collection[i].Id"><i class="fa-solid fa-check"></i></button>
									</td>
								}
							</tr>
						}
					</tbody>
				</table>
			</div>
		</section>
	</form>
}