@model List<InactiveOccupantViewModel>

<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr class ="text-center border-2 bg-light align-middle p-1">
				<th style="width:5%" scope="col">#</th>
				<th style="width:45%" scope="col">Full Name</th>
				<th style="width:20%" scope="col">Phone Number</th>
				<th style="width:10%" scope="col">Owner</th>
				<th style="width:10%" scope="col">Left On</th>
				<th style="width:10%" scope="col">Details</th>
			</tr>
		</thead>
		<tbody class="align-middle">
			@for (int i = 0; i < Model.Count(); i++)
			{
				<tr class="bg-white border-2 align-middle text-center">
					<td class="bg-light p-1" scope="row">@(i + 1)</td>
					<td class="p-1">@Model[i].FullName</td>
					<td class="p-1">@Model[i].PhoneNumber</td>
					<td class="p-1">@Model[i].IsOwner</td>
					<td class="p-1">@Model[i].LeaveDate</td>
					<td class="p-1">
						<button type="submit" class="btn  btn-outline-info rounded-bottom-circle p-0" style="width: 25px; height: 25px" asp-controller="Occupant" asp-action="Details" asp-route-id="@Model[i].Id"><i class="fa-solid fa-info"></i></button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
