@inject SignInManager<IdentityUser> SignInManager
@inject IHouseOrganizationService houseOrg
@inject IMemoryCache cache

@{
	var houseOrgName = cache.Get("ManagedHouseOrgName") ?? "none";

	ViewBag.ManagedHouseOrg = houseOrgName;

	ViewBag.HouseOrgs = houseOrg
							.GetAllReadOnly()
							.Where(h => h.Name != houseOrgName.ToString())
							.Select(ho => new SelectListItem
									{
										Value = ho.Id.ToString(),
										Text = ho.Name
									})
									.ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="~/favicon.ico" rel="icon">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<link href="~/css/custom/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/custom/date-picker/bootstrap-datepicker.standalone.min.css" rel="stylesheet">
	<link href="~/css/custom/style.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid position-relative bg-white d-flex h-100 p-0">
		<div class="content open h-100 d-flex flex-column justify-content-between">
			<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4">
				<a asp-controller="Home" asp-action="Index" class="navbar-brand">
					<h3 class="text-success mb-0">House Manager</h3>
				</a>
				@if (SignInManager.IsSignedIn(User))
				{
					@* <a asp-controller="HouseOrganizations" asp-action="All" class="nav-item nav-link text-dark"><i class="fa fa-building me-2"></i>House Organizations</a> *@
					<div class="d-flex flex-fill justify-content-evenly">
						<div class="form col-auto mb-3">
							<label for="houseOrgSelect">Managed House Organization</label>
							<select class="form-select" onchange="getHouseOrg()" id="houseOrgSelect" asp-items="@ViewBag.HouseOrgs">
								<option disabled selected>@ViewBag.ManagedHouseOrg</option>
								<option disabled>.....</option>
							</select>
						</div>
					</div>
					@if (cache.Get("ManagedHouseOrgName") != null)
					{
						<a asp-controller="Management" asp-action="All" asp-route-houseOrgId="@cache.Get("ManagedHouseOrgId")" class="nav-item nav-link text-dark"><i class="fa fa-user-tie me-2"></i>Management</a>
						<a asp-controller="Units" asp-action="All" asp-route-houseOrgId="@cache.Get("ManagedHouseOrgId")" class="nav-item nav-link text-dark"><i class="fa fa-key me-2"></i>Units</a>
					}
					
				}
				<partial name="_LoginPartial" />
			</nav>
			<div class="container-fluid d-flex flex-fill pt-4 px-4">
				<div class="row bg-light d-flex flex-fill rounded align-items-top justify-content-center mx-0">
					<main role="main" class="main p-3">
						@if(TempData["Errors"] != null)
						{
							List<string> errors = TempData["Errors"] as List<string>;

							foreach(var error in errors)
							{
								<div class="alert alert-danger alert-dismissible fade show" role="alert">
									@error
									<button type="button" class="btn-close"
											data-bs-dismiss="alert" aria-label="Close">
									</button>
								</div>
							}
						}
						@RenderBody()
					</main>
				</div>
			</div>
			<div class="container-fluid pt-4 px-4">
				<div class="bg-light rounded-top p-4">
					&copy; House Manager
				</div>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/custom/main.js"></script>
	<script src="~/js/custom/date-picker/bootstrap-datepicker.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
