@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject IHouseOrganizationService houseOrg
@inject IHttpContextAccessor HttpContextAccessor

@{
	var houseOrgId = HttpContextAccessor?.HttpContext?.Session.GetInt32(ManagedHouseOrgId) ?? 0;
	var houseOrgName = HttpContextAccessor?.HttpContext?.Session.GetString(ManagedHouseOrgName) ?? "none";
	var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

	var houseOrgs = houseOrg
							.GetAllByCreatorReadOnly(userId)
							.Select(ho => new SelectListItem
									{
										Value = ho.Id.ToString(),
										Text = ho.Name
									})
									.ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="~/favicon.ico" rel="icon">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<link href="~/css/custom/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/custom/date-picker/bootstrap-datepicker.standalone.min.css" rel="stylesheet">
	<link href="~/css/custom/style.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid position-relative bg-white d-flex h-100 p-0">
		<div class="content open h-100 d-flex flex-column justify-content-center">
			<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4">
				<a asp-controller="Home" asp-action="Index" class="navbar-brand">
					<h3 class="text-success mb-0">House Manager</h3>
				</a>
				@if (SignInManager.IsSignedIn(User))
				{
					<div class="row justify-content-around align-items-center mx-4">
						<label class="text-wrap text-end fw-bold col-auto" for="houseOrgSelect">Manage House Organization</label>
						<div class="col-auto">
							<select class="form-select" onchange="getHouseOrg()" id="houseOrgSelect" asp-items="@houseOrgs">
								<option disabled selected>@houseOrgName</option>
								<option disabled>.....</option>
							</select>
						</div>
						@if (houseOrgName != "none")
						{
							<div class="col-auto">
								<a asp-controller="Management" asp-action="All" asp-route-houseOrgId="@houseOrgId" class="nav-item nav-link text-dark"><i class="fa fa-user-tie me-2"></i>Management</a>
							</div>
							<div class="col-auto">
								<a asp-controller="Units" asp-action="All" asp-route-houseOrgId="@houseOrgId" class="nav-item nav-link text-dark"><i class="fa fa-key me-2"></i>Units</a>
							</div>
							@* <div class="col-auto">
								<a asp-controller="Finances" asp-action="All" asp-route-houseOrgId="@houseOrgCacheId" class="nav-item nav-link text-dark"><i class="fa-solid fa-circle-dollar-to-slot me-2"></i>Finances</a>
							</div> *@
						}
					</div>
				}
				<partial name="_LoginPartial" />
			</nav>
			<div class="container-fluid d-flex flex-fill pt-4 px-4">
				<div class="row bg-light d-flex flex-fill rounded align-items-top mx-0">
					<main role="main" class="main p-4">
						<div class="bg-light rounded h-100">
							@RenderBody()
						</div>
					</main>
				</div>
			</div>
			<div class="container-fluid pt-4 px-4">
				<div class="bg-light rounded-top p-4">
					&copy; House Manager
				</div>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/custom/main.js"></script>
	<script src="~/js/custom/date-picker/bootstrap-datepicker.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
