@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject IHttpContextAccessor HttpContextAccessor

@{
	var houseOrgId = HttpContextAccessor?.HttpContext?.Session.GetInt32(HouseOrgId) ?? 0;
	var houseOrgName = HttpContextAccessor?.HttpContext?.Session.GetString(HouseOrgName) ?? "none";
	var userCurrentRole = User.FindFirstValue(ClaimTypes.Role);
	var loggedIn = SignInManager.IsSignedIn(User);
	var sidebar = HttpContextAccessor.HttpContext.Session.GetInt32(SideBarOpen) == 1 ? true : false;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="~/favicon.ico" rel="icon">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<link href="~/css/custom/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/custom/date-picker/bootstrap-datepicker.standalone.min.css" rel="stylesheet">
	<link href="~/css/custom/style.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid position-relative bg-white d-flex p-0">
		@*Side Bar*@
		@if (loggedIn)
		{
			<div class="sidebar @(sidebar ? string.Empty : "open") pe-4 pb-3">
				<nav class="navbar bg-light navbar-light">
					<a asp-area="" asp-controller="Home"
					   asp-action="Index"
					   class="navbar-brand mb-3 mt-1 mx-4">
						<h2 class="text-success mb-0">House Manager</h2>
					</a>
					<div class="d-flex align-items-center ms-4 mb-4">
						<div class="position-relative">
							<img class="rounded-circle" src="~/img/DefaultProfilePic.jpg" alt="" style="width: 40px; height: 40px;">
						</div>
						<div class="ms-3">
							<h6 class="mb-0">@User.Identity?.Name</h6>
							<span>@userCurrentRole</span>
						</div>
					</div>
					<div class="navbar-nav w-100">
						<a asp-area="" asp-controller="HouseOrganizations"
						   asp-action="All"
						   class="row align-items-center nav-item nav-link fw-bold"
						   style="color: #000000;opacity: 0.7;">
							<i class="fa fa-city me-2"></i>All
						</a>
						<hr class="m-0 mb-3" />

						@if (houseOrgName != "none")
						{
							<h6 class="ms-4 fw-bolder"
								style="color: #000000;opacity: 0.7">
								<i class="fa fa-house me-2"></i>@houseOrgName
							</h6>
							<ul class="list-unstyled">
								<li>
									<a asp-area="" asp-controller="HouseOrganizations"
									   asp-action="Details"
									   asp-route-id="@houseOrgId"
									   class="nav-item nav-link fw-bold"
									   style="color: #000000;opacity: 0.7">
										<i class="fa fa-info me-2"></i>Details
									</a>
								</li>
								<li>
									<a asp-area="" asp-controller="Managers"
									   asp-action="All"
									   asp-route-id="@houseOrgId"
									   class="nav-item nav-link fw-bold"
									   style="color: #000000;opacity: 0.7">
										<i class="fa fa-user-tie me-2"></i>Management
									</a>
								</li>
								<li>
									<a asp-area="" asp-controller="Units"
									   asp-action="All"
									   asp-route-id="@houseOrgId"
									   class="nav-item nav-link fw-bold"
									   style="color: #000000;opacity: 0.7">
										<i class="fa fa-key me-2"></i>Units
									</a>
								</li>
								<li>
									<a asp-area="" asp-controller="Finances"
									   asp-action="Index"
									   asp-route-id="@houseOrgId"
									   class="nav-item nav-link fw-bold"
									   style="color: #000000;opacity: 0.7">
										<i class="fa fa-coins me-2"></i>Finances
									</a>
								</li>
							</ul>
						}
					</div>
				</nav>
			</div>
		}
		<div class="content @(sidebar ? string.Empty : "open")">
			@*Nab Bar*@
			<nav class="navbar navbar-expand navbar-light bg-light sticky-top align-items-center px-4">
				<a class="navbar-brand my-1 mx-0" asp-area="" asp-controller="Home" asp-action="Index">
					<h2 @(sidebar ? "hidden" : string.Empty) class="text-success mb-0">House Manager</h2>
				</a>
				<partial name="_LoginPartial" />
			</nav>

			@*Main Content*@
			<div class="container-fluid pt-4 px-4">
				<div class="row bg-light rounded min-vh-100 align-items-top justify-content-center mx-0">
					<main role="main" class="main container-fluid p-4">
						@RenderBody()
					</main>
				</div>
			</div>

			@*Footer*@
			<div class="container-fluid pt-4 px-4">
				<div class="bg-light rounded-top p-4">
					&copy; House Manager
				</div>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/custom/main.js"></script>
	<script src="~/js/custom/date-picker/bootstrap-datepicker.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
