@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model List<HouseOrganizationModel>

@if (!Model.Any())
{
    <form>
        <div class="bg-light rounded h-100 p-5">
            <h2 class="text-center">You don't have any house organizations, yet!</h2>
            <h3 class="text-center">Do you want to add one?</h3>
            <button class="btn btn-lg btn-success col-4 offset-4 mt-4" asp-controller="HouseOrganizations" asp-action="Add">Add House Organization</button>
        </div>
    </form>
}
else
{
    <form class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h4 class="mb-4">Managed House Organizations</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Town</th>
                            <th scope="col">Manage</th>
                            <th scope="col">Details</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i=0; i < Model.Count(); i++)
                        {      
                            <tr>
                                <th scope="row">@(i+1)</th>
                                <td>@Model[i].Name</td>
                                <td>@Model[i].Address</td>
                                <td>@Model[i].TownName</td>
                                <td>
                                    <button class="btn btn-primary rounded-pill" asp-controller="Units" asp-action="All" asp-route-houseOrgId="@Model[i].Id">Manage</button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-info rounded-pill" asp-controller="HouseOrganizations" asp-action="Details" asp-route-id="@Model[i].Id">Details</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning rounded-pill" asp-controller="HouseOrganizations" asp-action="Edit" asp-route-id="@Model[i].Id">Edit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button class="btn btn-sml btn-success m-4" asp-controller="HouseOrganizations" asp-action="Add">Add House Organization</button>
            </div>
        </div>
    </form>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}